@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');
.container{
  font-family: 'Itim', cursive;
}
.example-spacer {
  flex: 1 1 auto;
}
.formfield {
  display: flex;
  width: 60%;
  flex-direction: column;
  justify-content: center;
}
#divChart{
  display: block;
  width: 400px;
  height: 400px;
}
