<div id="container" >

    <div id="card">
      <!-- <mat-form-field appearance="fill" id="form">
        <mat-label>row</mat-label>
        <input matInput [(ngModel)]="rows" >
      </mat-form-field>
      <mat-form-field appearance="fill" id="form">
        <mat-label>col</mat-label>
        <input matInput [(ngModel)]="cols" >
      </mat-form-field> -->
      <button mat-raised-button color="primary" (click)="cal()">calculate</button>

    </div>

  <div id="card">
    <h3>Det A :{{detA}}</h3>
    <h3>Det A1 :{{detA1}}</h3>
    <h3>Det A2 :{{detA2}}</h3>
    <h3>Det A3 :{{detA3}}</h3>
    <h3>Answer : {{answer}}</h3>
  </div>
  <!-- <form formArrayName="form">
    <div *ngFor="let row of form.controls;let i=index">
      <input *ngFor="let col of row.controls" [formControl]="col">
    </div>
  </form>

  <pre>
    {{form?.value|json}}
  </pre> -->
</div>
