#card{
  width: 60%;
  height: 60%;
  margin: 4% auto;
  text-align: center;
  font-family: 'PT Mono', monospace;
}
img{
  width: 40%;
}
button{
  margin: 4% auto;
  font-family: 'PT Mono', monospace;
}
