<div>
  <p>
    <mat-toolbar color="primary">
      <mat-toolbar-row>
        <span routerLink="">Numerical</span>
        <span class="example-spacer"></span>
        <button mat-button [matMenuTriggerFor]="animals"><mat-icon>menu</mat-icon></button>
        <mat-menu #animals="matMenu">
          <button mat-menu-item [matMenuTriggerFor]="rootofequation">Root of Equations</button>
          <button mat-menu-item [matMenuTriggerFor]="linearalgebraic">Linear Algebraic</button>
        </mat-menu>

        <mat-menu #rootofequation="matMenu">
          <button routerLink="bisection" mat-menu-item>Bisection Method</button>
          <button routerLink="falseposition" mat-menu-item>False-Position Method</button>
          <button routerLink="onepoint" mat-menu-item>One-Point Iteration Method</button>
          <button routerLink="newtonraphson" mat-menu-item>Newton-Raphson Method</button>
          <button routerLink="secant" mat-menu-item>Secant Method</button>
        </mat-menu>

        <mat-menu #linearalgebraic="matMenu">
          <button routerLink="cramer" mat-menu-item>Cramer's Rule</button>
          <button routerLink="gausselimination" mat-menu-item>Gauss Elimination Method</button>
          <button routerLink="gaussjordan" mat-menu-item>Gauss Jordan Method</button>
          <button routerLink="LU" mat-menu-item>LU Decomposition Method</button>
          <button routerLink="cholesky" mat-menu-item>Cholesky Decomposition Method</button>
          <button routerLink="jacobi" mat-menu-item>Jacobi Iteration Method</button>
          <button routerLink="seidel" mat-menu-item>Gauss-seidel Iteration Method</button>
          <button routerLink="conjugate" mat-menu-item>Conjugate gradient Method</button>
        </mat-menu>
      </mat-toolbar-row>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </p>
</div>


