<div id="container" >
  <form [formGroup]="falsepositiongroup">
    <div id="card">
      <mat-card-title>FALSEPOSITION METHODS</mat-card-title>
      <mat-form-field appearance="fill" id="form">
        <mat-label>Equation</mat-label>
        <input matInput formControlName="equation">
      </mat-form-field>
      <mat-label>OR</mat-label>
      <mat-form-field appearance="fill" id="form">
        <mat-label>Equation Example</mat-label>
        <mat-select formControlName="equation">
          <mat-option *ngFor="let value of falsepositionValue" [value]="value.equation" (click)="getXLXR(value.equation)">
            {{value.equation}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="fill" id="form">
        <mat-label>XL</mat-label>
        <input matInput formControlName="xl" [(ngModel)]="xl">
      </mat-form-field>
      <mat-form-field appearance="fill" id="form">
        <mat-label>XR</mat-label>
        <input matInput formControlName="xr" [(ngModel)]="xr">
      </mat-form-field>
      <mat-form-field appearance="fill" id="form">
        <mat-label>Epsilon</mat-label>
        <input matInput formControlName="epsilon" placeholder="0.000001">
      </mat-form-field>
      <button mat-raised-button color="primary" (click)="cal(falsepositiongroup.value,falsepositiongroup)">calculate</button>

    </div>
  </form>
  <div id="card">
    <h3>Equation : {{falsepositiongroup.value.equation}}</h3>
    <h3>Answer : {{answer}}</h3>
  </div>
  <div class="limiter">
    <div>
      <div>
        <table>
          <thead>
            <tr class="table">
              <th class="cell100 column1">Iteration</th>
              <th class="cell100 column2">Xl</th>
              <th class="cell100 column3">Xr</th>
              <th class="cell100 column4">X1</th>
              <th class="cell100 column5">Error</th>
            </tr>
          </thead>

          <tbody>
            <tr *ngFor="let v of variable">
              <td>{{ v.iteration }}</td>
              <td>{{ v.xl }}</td>
              <td>{{ v.xr }}</td>
              <td>{{ v.x1 }}</td>
              <td>{{ v.error }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<div>
  <canvas id="falsepositionchart"></canvas>
</div><br/>

